
@{
    ViewBag.Title = "Index";
}
@section style {
    @*<link href="@Url.Content("~/Content/slick/slick.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Content/slick/slick-theme.css")" rel="stylesheet" />*@
    <link href="@Url.Content("~/Content/css/pgwslider.css")" rel="stylesheet" />

}
@section scripts {

    @*<script src="@Url.Content("~/Content/slick/slick.min.js")"></script>*@
    <script src="@Url.Content("~/Content/js/pgwslider.js")"></script>

    <script src="@Url.Content("~/Content/js/Property/index.js")"></script>

    @*<script src="@Url.Content("~/Content/js/slideNav.js")"></script>*@

}
<div class="container">
    <div class="row mb-3">
        <div class="col-md-12 tab-content" id="nav-tabContent">
            <div class="col-md-12 col-12 tab-pane fade show active" id="nav-rooms" role="tabpanel" aria-labelledby="nav-rooms-tab">
                <div id="" class="font-12 row ">
                    <div id="hotel-room" class="bg-white p-3 mb-4 shadow br-5">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-12 p-2 ">
                                        <div class="top-left-banner">
                                            <span class="text-white">Registered to save up to 35%</span>
                                        </div>
                                        <img class="book-hotel-img img-responsive" src="@Url.Content("~/Content/Image/h8.jpg")" alt="First slide">
                                    </div>

                                    <div class="col-md-12 p-2 ">
                                        <button data-toggle="modal" data-target="#modalView1" class="font-12 btn btn-transparent btn-block">See property details</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9 ">
                                <div class="row">
                                    <div class="col-md-9 s12">
                                        <div id="hotel-text">
                                            <div id="room-name" class="hotel-name mb-2">Deluxe Apartment</div>
                                            <div id="room-offer" class="hotel-address mb-3">
                                                Room offer and conditions
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-3 s12">
                                        <div id="hotel-text" class="mb-2">
                                            <div id="hotel-price" class="hotel-name">Php 2,400 <span class="text-small">/month</span></div>

                                        </div>
                                        <div id="room-offer" class="hotel-address mb-3">
                                            &nbsp;
                                        </div>
                                        <div id="hotel-view" class="hotel-view  pr-3">

                                        </div>
                                        <div id="hotel-view" class="hotel-view pr-3">

                                            @*<div class="row mb-2">
                                        <div class="col-md-6 s12 font-14">
                                            Rooms
                                        </div>
                                        <div class="col-md-6 s12">
                                            <input class="form-control font-12" type="number" value="1" id="example-number-input">
                                        </div>
                                    </div>*@
                                            <div class="row">
                                                <div class="col-md-6 s12">

                                                </div>
                                                <div class="col-md-12 s12">
                                                    <a href="#" class="btn btn-orange btn-block font-12">Reserve Now</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                                <hr />
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="row font-14">
                                            <div class="col-3 text-center px-0">
                                                <p class="view-info-text text-black">
                                                    <i class="fa fa-bed mr-2 text-black"></i> Bed
                                                </p>
                                            </div>
                                            <div class="col-3 text-center px-0">
                                                <p class="view-info-text text-black">
                                                    <i class="fa fa-shower mr-2 text-black"></i> Toilet
                                                </p>
                                            </div>
                                            <div class="col-3 text-center px-0">
                                                <p class="view-info-text text-black">
                                                    <i class="fa fa-home mr-2 text-black"></i> 52sq meter
                                                </p>
                                            </div>
                                            <div class="col-3 text-center px-0">
                                                <p class="view-info-text text-black">
                                                    <i class="fa fa-user-friends mr-2 text-black"></i> Capacity
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="" class="font-12 row ">
                    <div id="hotel-room" class="bg-white p-3 mb-4 shadow br-5">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-12 p-2 ">
                                        <div class="top-left-banner">
                                            <span class="text-white">Registered to save up to 35%</span>
                                        </div>
                                        <img class="book-hotel-img img-responsive" src="@Url.Content("~/Content/Image/h8.jpg")" alt="First slide">
                                    </div>

                                    <div class="col-md-12 p-2 ">
                                        <button data-toggle="modal" data-target="#modalView1" class="font-12 btn btn-transparent btn-block">See property details</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9 ">
                                <div class="row">
                                    <div class="col-md-9 s12">
                                        <div id="hotel-text">
                                            <div id="room-name" class="hotel-name mb-2">Deluxe Apartment</div>
                                            <div id="room-offer" class="hotel-address mb-3">
                                                Room offer and conditions
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-3 s12">
                                        <div id="hotel-text" class="mb-2">
                                            <div id="hotel-price" class="hotel-name">Php 2,400 <span class="text-small">/month</span></div>

                                        </div>
                                        <div id="room-offer" class="hotel-address mb-3">
                                            &nbsp;
                                        </div>
                                        <div id="hotel-view" class="hotel-view  pr-3">

                                        </div>
                                        <div id="hotel-view" class="hotel-view pr-3">

                                            @*<div class="row mb-2">
                                        <div class="col-md-6 s12 font-14">
                                            Rooms
                                        </div>
                                        <div class="col-md-6 s12">
                                            <input class="form-control font-12" type="number" value="1" id="example-number-input">
                                        </div>
                                    </div>*@
                                            <div class="row">
                                                <div class="col-md-6 s12">

                                                </div>
                                                <div class="col-md-12 s12">
                                                    <a href="#" class="btn btn-orange btn-block font-12">Reserve Now</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                                <hr />
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="row font-14">
                                            <div class="col-3 text-center px-0">
                                                <p class="view-info-text text-black">
                                                    <i class="fa fa-bed mr-2 text-black"></i> Bed
                                                </p>
                                            </div>
                                            <div class="col-3 text-center px-0">
                                                <p class="view-info-text text-black">
                                                    <i class="fa fa-shower mr-2 text-black"></i> Toilet
                                                </p>
                                            </div>
                                            <div class="col-3 text-center px-0">
                                                <p class="view-info-text text-black">
                                                    <i class="fa fa-home mr-2 text-black"></i> 52sq meter
                                                </p>
                                            </div>
                                            <div class="col-3 text-center px-0">
                                                <p class="view-info-text text-black">
                                                    <i class="fa fa-user-friends mr-2 text-black"></i> Capacity
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="" class="font-12 row ">
                    <div id="hotel-room" class="bg-white p-3 mb-4 shadow br-5">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-12 p-2 ">
                                        <div class="top-left-banner">
                                            <span class="text-white">Registered to save up to 35%</span>
                                        </div>
                                        <img class="book-hotel-img img-responsive" src="@Url.Content("~/Content/Image/h8.jpg")" alt="First slide">
                                    </div>

                                    <div class="col-md-12 p-2 ">
                                        <button data-toggle="modal" data-target="#modalView1" class="font-12 btn btn-transparent btn-block">See property details</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9 ">
                                <div class="row">
                                    <div class="col-md-9 s12">
                                        <div id="hotel-text">
                                            <div id="room-name" class="hotel-name mb-2">Deluxe Apartment</div>
                                            <div id="room-offer" class="hotel-address mb-3">
                                                Room offer and conditions
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-3 s12">
                                        <div id="hotel-text" class="mb-2">
                                            <div id="hotel-price" class="hotel-name">Php 2,400 <span class="text-small">/month</span></div>

                                        </div>
                                        <div id="room-offer" class="hotel-address mb-3">
                                            &nbsp;
                                        </div>
                                        <div id="hotel-view" class="hotel-view  pr-3">

                                        </div>
                                        <div id="hotel-view" class="hotel-view pr-3">

                                            @*<div class="row mb-2">
                                        <div class="col-md-6 s12 font-14">
                                            Rooms
                                        </div>
                                        <div class="col-md-6 s12">
                                            <input class="form-control font-12" type="number" value="1" id="example-number-input">
                                        </div>
                                    </div>*@
                                            <div class="row">
                                                <div class="col-md-6 s12">

                                                </div>
                                                <div class="col-md-12 s12">
                                                    <a href="#" class="btn btn-orange btn-block font-12">Reserve Now</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                                <hr />
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="row font-14">
                                            <div class="col-3 text-center px-0">
                                                <p class="view-info-text text-black">
                                                    <i class="fa fa-bed mr-2 text-black"></i> Bed
                                                </p>
                                            </div>
                                            <div class="col-3 text-center px-0">
                                                <p class="view-info-text text-black">
                                                    <i class="fa fa-shower mr-2 text-black"></i> Toilet
                                                </p>
                                            </div>
                                            <div class="col-3 text-center px-0">
                                                <p class="view-info-text text-black">
                                                    <i class="fa fa-home mr-2 text-black"></i> 52sq meter
                                                </p>
                                            </div>
                                            <div class="col-3 text-center px-0">
                                                <p class="view-info-text text-black">
                                                    <i class="fa fa-user-friends mr-2 text-black"></i> Capacity
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="modalView1">
    <div class="modal-dialog modal-lg" style="max-width:1400px !important;">
        <div class="modal-content bg-darker">
            <div class="modal-body pt-0 pb-0">
                <div id="roomInfoModal" class="row">
                    <div class="col-md-5 p-2" style="min-height:695px; max-height:695px;   background-color: #222322;">
                        <div id="Room-Image-Container">
                            <ul class="pgwSlider">
                                <li>
                                    <img src="@Url.Content("~/Content/image/3.jpg")" class="img-responsive">
                                    <span>Shanghai, China</span>
                                </li>
                                <li>
                                    <img src="@Url.Content("~/Content/image/5.jpg")" class="img-responsive">
                                    <span>Shanghai, China</span>
                                </li>
                                <li>
                                    <img src="@Url.Content("~/Content/image/3.jpg")" class="img-responsive">
                                    <span>Shanghai, China</span>
                                </li>
                                <li>
                                    <img src="@Url.Content("~/Content/image/4.jpg")" class="img-responsive">
                                    <span>Shanghai, China</span>
                                </li>
                            </ul>

                        </div>


                    </div>
                    <div class="col-md-7 p-3 bg-white" style="max-height:695px; overflow-x: auto;">
                        <div class="row">
                            <div class="col-md-12  mb-3">
                                <span class="sub-title" id="RoomTypeName">Property Name</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12  mb-3" id="RoomTypeDesc">
                                A demo of usin
                            </div>
                            <div class="col-md-12  mb-3">
                                <span class="sub-title">Property Features</span>
                            </div>
                            <div class="col-md-12 col-12 mb-3">
                                <div id="allFeatures">
                                    <div class="row">
                                        <div class="col-3">
                                            <p class="view-info-text text-black">
                                                <i class="fa fa-bed mr-2 text-green"></i> <span id="bed"></span>
                                            </p>
                                        </div>
                                        <div class="col-3">
                                            <p class="view-info-text text-black">
                                                <i class="fa fa-shower mr-2 text-green"></i> <span id="bath"></span>
                                            </p>
                                        </div>
                                        <div class="col-3">
                                            <p class="view-info-text text-black">
                                                <i class="fa fa-home mr-2 text-green"></i> <span id="size"></span>
                                            </p>
                                        </div>
                                        <div class="col-3">
                                            <p class="view-info-text text-black">
                                                <i class="fa fa-user-friends mr-2 text-green"></i> <span id="guest"></span>
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-12  mb-3">
                                <span class="sub-title ">Property Amenities</span>
                            </div>
                            <div class="col-md-12 col-12 mb-3">
                                <div id="allAmenities">
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="view-info-text text-black">
                                                BED AND BATH
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <p class="view-info-text">
                                                <i class="fa fa-cross mr-2 text-green"></i> Shower
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <p class="view-info-text ">
                                                <i class="fa fa-check mr-2 text-green"></i> Jacu
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <p class="view-info-text ">
                                                <i class="fa fa-cross mr-2 text-green"></i> Shower
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <p class="view-info-text ">
                                                <i class="fa fa-check mr-2 text-green"></i> Soap
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
