@{
    ViewBag.Title = "Home Page";
}
@section style {
    <link href="@Url.Content("~/Content/slick/slick.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/slick/slick-theme.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/iziModal.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/realEstate/index.css")" rel="stylesheet" />
}
@section scripts {
    <script src="@Url.Content("~/Content/slick/slick.min.js")"></script>
    <script src="@Url.Content("~/Content/js/iziModal.min.js")"></script>
    <script src="@Url.Content("~/Content/js/Home/index.js")"></script>
}

<div class="">
    <div class="container">
        <div class="row">
            <div class="col-md-12 pt-5 pb-3">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-center text-dark"> Search properties for sale and to rent</h4>
                    </div>
                    <div class="col-md-4 col-12">

                    </div>

                    <div class="col-md-4 col-12">
                        <div class="row">
                            <div class="col-md-6 pb-2">
                                <button type="button" class="btn btn-primary btn-block" id="btnRentProperty">
                                    Rent
                                </button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-primary btn-block pt-2">
                                    Sale
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">

                    </div>
                </div>
                <div class="row pt-5 pb-3">

                </div>
            </div>
        </div>

    </div>
</div>

<div id="modalRent" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-6">
                    <h4 class="modal-title text-dark">Select Property</h4>
                </div>
                <div class="col-md-6 justify-content-end pt-3">
                    <button type="button" class="close font-12 text-dark" data-dismiss="modal">Close</button>
                </div>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="text-dark">Location</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <input type="text" name="name" value="" class="btn-block searchRent" />
                                        </div>
                                        <div class="col-md-4 pt-1">
                                            <button class="btn-block btn btn-primary">Find</button>
                                        </div>
                                    </div>
                                    <div class="row pt-2">
                                        <div class="col-md-3">
                                            <div class="dropdown">
                                                <button class="btn dropdown-toggle text-left" id="btnGuest" type="button" data-toggle="dropdown">
                                                    2Adult
                                                </button>
                                                <div class="">
                                                    <div class=" dropdown-menu modal-css p-2" id="ulid" role="menu" aria-labelledby="menu1">
                                                        <div class="row ">
                                                            <div class="col-md-6 row-vertical-align">
                                                                <span class="text-span1-lbl" id="text-span1">Adult</span><br />
                                                                <span id="text-smallest" class="form-text text-smallest  text-muted m-md-0">(12 years old above)</span>
                                                            </div>
                                                            <div class="col-md-6 p-md-0 text-center">
                                                                <span class="text-option">
                                                                    <button type="button" class="btn btn-default btn-number padding-btn-modal " data-type="minus" data-field="quant[1]">
                                                                        <span class="fas fa-minus icon-dec-inc text-orange"></span>
                                                                    </button>
                                                                    <input type="text" disabled name="quant[1]" id="option1" class=" input-number text-center input-css" value="2" min="2" max="10" placeholder="Adult">
                                                                    <button type="button" class="btn btn-default btn-number padding-btn-modal" data-type="plus" data-field="quant[1]">
                                                                        <span class="fas fa-plus  icon-dec-inc text-orange"></span>
                                                                    </button>
                                                                </span>
                                                            </div>

                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <span class="text-span1-lbl" id="text-span2">Child</span>
                                                                <span id="text-smallest" class="form-text text-smallest  text-muted m-md-0">(2-11 years old)</span>
                                                            </div>
                                                            <div class="col-md-6 text-center py-0">
                                                                <span class="text-option">
                                                                    <button type="button" class="btn btn-default btn-number padding-btn-modal" data-type="minus" data-field="quant[2]">
                                                                        <span class="fas fa-minus icon-dec-inc text-orange"></span>
                                                                    </button>
                                                                    <input type="text" disabled name="quant[2]" id="option2" class=" input-number input-css text-center" value="0" min="0" max="10" placeholder="Child">
                                                                    <button type="button" class="btn btn-default btn-number padding-btn-modal" data-type="plus" data-field="quant[2]">
                                                                        <span class="fas fa-plus icon-dec-inc text-orange"></span>
                                                                    </button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                                <div class="col-md-12">
                                                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                                        <li class="nav-item">
                                                                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
                                                                        </li>
                                                                        <li class="nav-item">
                                                                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
                                                                        </li>
                                                                        <li class="nav-item">
                                                                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
                                                                        </li>
                                                                    </ul>
                                                                    <div class="tab-content" id="myTabContent">
                                                                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
                                                                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                                                                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                                                        <li class="nav-item">
                                                                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
                                                                        </li>
                                                                        <li class="nav-item">
                                                                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
                                                                        </li>
                                                                        <li class="nav-item">
                                                                            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
                                                                        </li>
                                                                    </ul>
                                                                    <div class="tab-content" id="pills-tabContent">
                                                                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">...</div>
                                                                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
                                                                        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <p>test</p>
                                        </div>
                                        <div class="col-md-5">
                                            <p>test</p>
                                        </div>
                                        <div class="col-md-2">
                                            <p>test</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>*@
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var DestinationList = '@Url.Action("GetDestinations", "Site")';
    var HotelCityList = '@Url.Action("HotelCityList", "Hotel")';

</script>
